{% extends 'base_index.html' %}
{% load static %}
{% block title %}质量检测{% endblock %}

{% block script %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'bootstrap-table-develop/dist/bootstrap-table.css' %}">

    <script type="text/javascript" src="{% static 'bootstrap-table-develop/dist/bootstrap-table.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bootstrap-table-develop/dist/locale/bootstrap-table-zh-CN.js' %}"></script>

    <link rel="stylesheet" href="{% static 'x-editable-develop/dist/bootstrap3-editable/css/bootstrap-editable.css' %}">
    <script type="text/javascript"
            src="{% static 'x-editable-develop/dist/bootstrap3-editable/js/bootstrap-editable.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bootstrap-table-develop/dist/extensions/editable/bootstrap-table-editable.js' %}"></script>

    <script type="text/javascript"
            src="{% static 'tableExport.jquery.plugin/libs/FileSaver/FileSaver.min.js' %}"></script>
    {#    <script type="text/javascript"#}
    {#            src="{% static 'tableExport.jquery.plugin/libs/js-xlsx/xlsx.core.min.js' %}"></script>#}
    <script type="text/javascript"
            src="{% static 'tableExport.jquery.plugin/libs/js-xlsx/xlsx.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'tableExport.jquery.plugin/tableExport.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bootstrap-table-develop/dist/extensions/export/bootstrap-table-export.js' %}"></script>
    <script type="text/javascript" src="{% static 'incubator-echarts-4.7.0/dist/echarts.js' %}"></script>
    <script type="text/javascript" src="{% static 'incubator-echarts-4.7.0/echarts-gl.js' %}"></script>
    <script type="text/javascript" src="{% static 'incubator-echarts-4.7.0/dist/extension/dataTool.js' %}"></script>
{% endblock %}

{% block style %}
    <style>
        .w100 .th-inner {
            width: 100px;
        }

        .panel-title > p {
            margin: 0;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container" style="margin-top: 2%;">
        <div class="row">
            <button id="uploadButton" type="button" class="btn btn-lg btn btn-success btn-arrow-right"
                    onclick='window.location.href="{% url 'upload' %}"'>数据上传
            </button>
            <button id="showDataButton" type="button" class="btn btn-lg btn btn-success btn-arrow-right" disabled
                    onclick='window.location.href="{% url 'qualitycontrol' dataname %}"'>数据质量检测
            </button>
            <button id="beginFSButton" type="button" class="btn btn-lg btn btn-info btn-arrow-right"
                    onclick='window.location.href="{% url 'domainknowledgeembedding' dataname %}"'>构效关系建模
            </button>
            <button id="beginMLButton" type="button" class="btn btn-lg btn btn-info btn-arrow-right"
                    onclick='window.location.href="{% url 'machinelearning' dataname 'qualitycontrol' %}"'>性能预测
            </button>
        </div>

        <ul class="nav nav-tabs" id="data_tabs" role="tablist" style="padding-top: 2%; margin-bottom: 2%">
            <li class="nav-item">
                <a class="nav-link active" href="#sortingAlgorithm" data-toggle="tab">分类算法</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#clusteringAlgorithm" data-toggle="tab">聚类算法</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#regressionAlgorithm" data-toggle="tab">回归算法</a>
            </li>
        </ul>
        <div class="tab-content" id="data_tab_content">
            <div class="tab-pane fade show active" id="sortingAlgorithm" role="tabpanel"
                 aria-labelledby="sortingAlgorithm_tab">
                <form method="post">{% csrf_token %}
                    <h4 class="text-center"><b>支持向量计算法</b></h4>

                    <div class="row ">
                        <div class="formControls col-sm-offset-2 col-sm-2"></div>
                        <div class="formControls  col-sm-2" style="padding-left: 15px">
                            <button type="submit" class="btn btn-success "
                                    style="height: 45px;text-align: center;padding-top: 10px">
                                提交 >
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="clusteringAlgorithm" role="tabpanel"
                 aria-labelledby="clusteringAlgorithm_tab">
                <form method="post">{% csrf_token %}
                    <h4 class="text-center"><b>DBSCAN聚类</b></h4>

                    <div class="row ">
                        <div class="formControls col-sm-offset-2 col-sm-2"></div>
                        <div class="formControls  col-sm-2" style="padding-left: 15px">
                            <button type="submit" class="btn btn-success "
                                    style="height: 45px;text-align: center;padding-top: 10px">
                                提交 >
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="regressionAlgorithm" role="tabpanel"
                 aria-labelledby="regressionAlgorithm_tab">
                <form method="post">{% csrf_token %}
                    <h4 class="text-center"><b>普通最小二乘法</b></h4>
                    <div class="row">
                        <label for="machine_learning_algorithm" class="col-sm-2  control-label"
                               style="text-align: right; display: inline-block; height:35px; line-height: 35px">机器学习算法：</label>
                        <div class="form-group col-sm-4" style="display: inline-block; height:35px; line-height: 35px">
                            <input value="LinearRegression" type="radio" class="form-check form-check-inline" checked
                                   id="machine_learning_algorithm" name="machine_learning_algorithm">
                            <label class="form-check-label" for="machine_learning_algorithm">普通最小二乘法</label>

                        </div>
                    </div>
                    <div class="row">
                        <label for="fit_intercept" class="col-sm-2  control-label"
                               style="text-align: right; display: inline-block; height:35px; line-height: 35px">fit_intercept：</label>
                        <div class="form-group col-sm-4">
                            <div class="form-check form-check-inline" id="fit_intercept"
                                 style="display: inline-block; height:35px; line-height: 35px">
                                <input class="form-check-input " type="radio" name="fit_intercept" id="fit_intercept"
                                       value="True">True
                                <input class="form-check-input" type="radio" name="fit_intercept" id="fit_intercept"
                                       value="False">False
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label for="normalize" class="col-sm-2  control-label"
                               style="text-align: right; display: inline-block; height:35px; line-height: 35px">normalize：</label>
                        <div class="form-group col-sm-4">
                            <div class="form-check form-check-inline" id="fit_intercept"
                                 style="display: inline-block; height:35px; line-height: 35px">
                                <input class="form-check-input " type="radio" name="normalize" id="normalize"
                                       value="True">True
                                <input class="form-check-input" type="radio" name="normalize" id="normalize"
                                       value="False">False
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label for="copy_X" class="col-sm-2  control-label"
                               style="text-align: right; display: inline-block; height:35px; line-height: 35px">copy_X：</label>
                        <div class="form-group col-sm-4">
                            <div class="form-check form-check-inline" id="copy_X"
                                 style="display: inline-block; height:35px; line-height: 35px">
                                <input class="form-check-input " type="radio" name="copy_X"
                                       id="copy_X" value="True">True
                                <input class="form-check-input" type="radio" name="copy_X" id="copy_X"
                                       value="False">False
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label for="n_jobs" class="col-sm-2  control-label"
                               style="text-align: right; display: inline-block; height:35px; line-height: 35px">n_jobs：</label>
                        <div class="form-group col-sm-4">
                            <input value="1" type="text" class="form-control" id="n_jobs"
                                   name="n_jobs">
                        </div>
                    </div>

                    <div class="row ">
                        <div class="formControls col-sm-offset-2 col-sm-2"></div>
                        <div class="formControls  col-sm-2" style="padding-left: 15px">
                            <button type="submit" class="btn btn-success "
                                    style="height: 45px;text-align: center;padding-top: 10px">
                                提交 >
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="formControls  col-sm-2" style="padding-left: 15px">
            <button type="button" class="btn btn-success "
                    onclick='window.location.href="{% url 'qualitycontrol' dataname %}"'
                    style="height: 45px;text-align: center;padding-top: 10px">
                < 返回
            </button>
        </div>
    </div>

{% endblock %}